<%- include('layout', { title: '首页' }) %>

<section>
  <h2>板块</h2>
  <ul class="boards">
    <% boards.forEach(function(board){ %>
      <li><a href="/board/<%= board.id %>"><%= board.name %></a></li>
    <% }) %>
  </ul>
</section>
